
/* Body styling */
body {
    background: linear-gradient(to left, #c3ffff, #FFFFFF);
  }
  
  /* Container styling */
  .container {
    margin: 100px auto;
    max-width: 1024px;
    padding: 0 24px;
    text-align: center;
  }
  
  /* Heading styling */
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    animation: fadeIn 3s ease-in-out forwards; 
  }
  
  /* Paragraph styling */
  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #555;
    opacity: 0;
    animation: fadeIn 4s ease-in-out forwards; 
  }
  
  /* Animation styling */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Anchor styling */
  a {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* Image styling */
  img {
    display: block;
    width: 100%;
    max-width: 1024px;
    height: auto;
    border-radius: 20%;
    margin: 24px auto;
    animation: fadeIn 4s ease-in-out forwards; 
  }
  
  /* Blockquote styling */
  blockquote {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
    color: #555;
    margin: 30px 0;
    padding: 30px;
    border-radius: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    animation: fadeIn 4s ease-in-out forwards;     
  }