<!-- CREATE A TITLE OF THE PAGE-->
{% block title %}
    <title>🐳ТО ЧТО ТЕРПИТ ОКЕАН🐳</title>
    {% endblock %}



<!-- generate a header with a title "Моя презентация" -->
{% block header %}
    <h1>🐳Моя презентация🐳</h1>
    <style>
        h1 {
            color: #000000;
            font-size: 45px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            text-shadow: 0 0 3px #0657f8, 0 0 5px #0000FF;
        }
    </style>

<!-- Paint header with a blue gradient white background-->
    <style>
        body {
        
            background: linear-gradient(to right, #11dcdc, #FFFFFF);
        }


    </style>

    
