{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='styles.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>🐳То, что терпит океан. Как мы уничтожаем свой дом, загрязняя чужой.🐳</h1>
</div>



<div class="container">
    <img src="https://i.ytimg.com/vi/_RbZK7loNrc/maxresdefault.jpg" alt="Ocean" width="100%" height="100%">
<blockquote>Влияние океана на наши жизни и влияние нашей рутины на жизнь океана</blockquote>
</div>
<div class="container">
    <p>Мировой океан покрывает практически 71% территории Земли, но проблемы с ним которые мы сами вызвали составляют от 100% опасности что нам угрожает намного большую цифру</p>
    <p>Рыбы, моллюски по типу устриц и другие помогают человеческому организму с помощью своей насыщенности полезными витаминами. Миллиард человек, если не больше, ловят рыбу и питаются ею практически каждый день. Существуют также и специальные фермы созданные для того чтобы разводить определенные особи а затем продавать их в живом, замороженном или уже приготовленном виде. Китай является главным игроком на этом рынке. 

        Подобные "махинации" и действия создают нарушение в общей структуре жизни Мирового Океана. Нарушается пищевая цепочка, количество рыбы в океанах и морях уменьшается. Ситуацию не делает лучше и тот факт, что существует такая вещь как "призрачная ловля рыбы", если объяснять более подробно, то это случаи когда выброшенная экипировка для рыбалки случайным образом продолжает ловить рыбу. на водном дне. </p>
</div>

<!--fish pic-->
<div class="container">
    <img src="https://voshod.vanino.org/pictgallery/picts/15855.jpg" alt="Ocean" width="100%" height="100%">
    <p>Количество в котором мы вылавливаем рыбу может вызвать полноценное вымирание какого-то определенного вида рыб, что в свою очередь приведет к мощному нарушению пищевой цепи, а если брать во внимание некоторые, без преувеличения, варварские способы ловли рыбы по типу отравления того или иного водоема и подрывы морского дна. Незаконная ловля рыбы также часть проблемы. Бывают случаи, когда люди не сообщают о пойманной рыбе, но есть и случаи когда им это делать и не нужно, ведь их спонсирует государство. К примеру, Японию несколько раз обвиняли в том, что на территории страны ловили больше рыбы чем это положено законом, в том, что правительство игнорировало ограничения по этому поводу и так далее. Также есть тактика согласно которой пойманная рыба распространяется среди нескольких суден, и таким образом улов не считают "больше обычного", хоть он таковым и является.

        Конечно, рыбы не единственное что есть в океане и на что влияет деятельность человека. Коралловые рифы также попадают под влияние человека, и в том числе глобального потепления. Они буквально уничтожаются из-за изменений температур воды в которой находятся и не только. Увеличивающееся количество мусора в океанах вызывает ограничение поступаемого к рифам солнечного света, изменение химического состава воды, т.е. появления в нем лишних элементов, и банальное вмешательство в спокойную жизнь рифов. Туристы часто любят заплывать к ним, трогать, бывает даже такое что там оставляют свои вещи. Это нарушает нормальный порядок вещей в существовании рифов и создает диссонанс в их жизни, а так как рифы это большая часть морской жизни, это также не оставляет хорошего эффекта на положении океана.
    </p>
</div>


<!--seaweed pic-->
<div class="container">
    <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t1.15752-9/354056784_1376219876280933_4623762713871335403_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGeDgMQq1jvf8DqlBexFe9Uw3qxKQHrKzvDerEpAesrO6w1F3GkqCDohUJNdo4C-Nvu7OK8tT996uHOn6gt6ovN&_nc_ohc=-N6jNpF6b24AX-09hkc&_nc_ht=scontent.ftbs4-2.fna&oh=03_AdSO9DhU6wj7cMm18MfJNLnY2_A1eHSdioEFV_pjFE6lIA&oe=64AEB6A9" alt="Ocean" width="100%" height="100%">
</div>

<!--seatrash pic-->
<div class="container">
    <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t1.15752-9/353798481_1217006375673908_1011897590461477873_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHn-zJeZPa7G5ywEzRZwy4zVOW7XjDTUu5U5bteMNNS7vHujGg8HMpfc5jowJpTMdd4Ym4hNfjZLh2dsawkM-qW&_nc_ohc=wSmN1d1h3mMAX_03hsd&_nc_ht=scontent.ftbs4-2.fna&oh=03_AdRdpgcukYcxk2q67xwOMArotXwqVAmGtEz1z40nAcHv3g&oe=64AEBA40" alt="Ocean" width="100%" height="100%">
</div>

<!--earth pic-->
<div class="container">
    <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t1.15752-9/348390036_154405110964877_5988814267005917146_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGqjkb2AVGMQqDGlYWB2MCDPUVn1GeQxv49RWfUZ5DG_sOE4lqrm199tBREkG9Pqzf-RuFzBj5_gCWIOcj4cDt9&_nc_ohc=Mb8E88hxFwYAX_9Qo7b&_nc_ht=scontent.ftbs4-2.fna&oh=03_AdRYtl0_Uy2PKX2qTbi49ThinviZq7uh23K3F4Xjkweraw&oe=64AECD6B
    " alt="Ocean" width="100%" height="100%">
</div>

<!--cleaner pic-->
<div class="container">
    <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t1.15752-9/353075689_795720305269105_4903262927212111668_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFzklc7cje2DoyIv0-1bnv_WEnimK1I7ulYSeKYrUju6YaLzvmsr0E2D16kvCZMGp0xINQxlt1w0TcoCoGdGiuj&_nc_ohc=veJ_Sg8q72YAX-ezyHZ&_nc_ht=scontent.ftbs4-2.fna&oh=03_AdQaNiv3zSKQNMERdAuAjEFg8QJeWFe-R1X63fjhErxPwQ&oe=64AEE36F" alt="Ocean" width="100%" height="100%">
{% endblock %}